@import "mocha";

.testJS {

   @extend #mocha;

   line-height: 24px;

   font-size: 16px;

   // Test
   .test, .section, .project {

      // Borders
      border-top: solid 1px grey;
      border-left: solid 1px rgb(226, 226, 226);
      padding-left: 0.3em;

      &:before {
         display: none !important;
      }

      & > header {
         // Flex
         display: flex;
         flex-direction: row;

         &:before {
            width: 1em;
         }

         & > #fails, &:before {
            font-size: 12px;
            display: block;
            float: left;
         }

         & > #fails {
            // Flex
            order: 0;

            // Size
            width: 3em;
         }

         & > #title {
            // Flex
            order: 1;
         }

         & > #successesByTests {
            // Box model
            margin-left: 1em;

            // Flex
            order: 2;

            // Text
            font-size: 0.7em;
            color: rgb(152, 152, 152);
         }


         & > #countTests, & > #successes {
            // Flex
            display: none;
         }

      }

      &.pass {

         color: rgb(51, 51, 51);

         & > header {
            & > #fails {
               visibility: hidden;
            }

            &:before {
               content: "\2713";
               color: #00d6b2;
            }

         }
      }

      &.fail {
         & > header {

            &:before {
               content: "\2716";
            }

            &:before, & > #fails {
               color: #c00;
            }
         }
      }

      &:not(.group) > header {
           & > #successesByTests
         , &:not(.severalFails) > #fails {
            visibility: hidden;
         }
      }

      &:not(.group) {
         cursor: auto;
      }

      &.group {
         cursor: pointer;

         & > header {
            & > #successesByTests {
               font-weight: bold;
            }
         }

         &.pass {
            & > header:hover {
               background-color: rgb(201, 255, 201);
            }
         }

         &.fail {

            & > header:hover {
               background-color: rgb(255, 203, 203);
            }
         }

      }
   }
}